includes:
	- ../vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	phpVersion: 80100
	tmpDir: ../var/tools/PHPStan

	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- Orisai\Exceptions\Check\CheckedException

	checkMissingCallableSignature: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkInternalClassCaseSensitivity: true
