parameters:
	ignoreErrors:
		-
			message: "#^Property Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\Circular\\\\CircularCVO\\:\\:\\$as type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/Doubles/Circular/CircularCVO.php

		-
			message: "#^Property Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\FieldNames\\\\ChildCollidingFieldVO\\:\\:\\$property is unused\\.$#"
			count: 1
			path: ../tests/Doubles/FieldNames/ChildCollidingFieldVO.php

		-
			message: "#^Method Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\Inheritance\\\\TraitCallback\\\\TraitCallbackVO\\:\\:after\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/Doubles/Inheritance/trait-callback.php

		-
			message: "#^Method Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\Inheritance\\\\TraitCallback\\\\TraitCallbackVO\\:\\:after\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../tests/Doubles/Inheritance/trait-callback.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertTrue\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Meta/MetaLoaderTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with ReflectionClass\\<Tests\\\\Orisai\\\\ObjectMapper\\\\Unit\\\\Meta\\\\Runtime\\\\CallbackRuntimeMetaTest\\> and ReflectionClass\\<Orisai\\\\ObjectMapper\\\\MappedObject\\> will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/Meta/Runtime/CallbackRuntimeMetaTest.php

		-
			message: "#^Parameter \\#3 \\$declaringClass of class Orisai\\\\ObjectMapper\\\\Meta\\\\Runtime\\\\CallbackRuntimeMeta constructor expects ReflectionClass\\<Orisai\\\\ObjectMapper\\\\MappedObject\\>, ReflectionClass\\<Tests\\\\Orisai\\\\ObjectMapper\\\\Unit\\\\Meta\\\\Runtime\\\\CallbackRuntimeMetaTest\\> given\\.$#"
			count: 1
			path: ../tests/Unit/Meta/Runtime/CallbackRuntimeMetaTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\} and array\\<string, Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\> will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/Meta/Runtime/ClassRuntimeMetaTest.php

		-
			message: "#^Parameter \\#2 \\$docs of class Orisai\\\\ObjectMapper\\\\Meta\\\\Runtime\\\\ClassRuntimeMeta constructor expects array\\<string, Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\>, array\\<int, Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\> given\\.$#"
			count: 1
			path: ../tests/Unit/Meta/Runtime/ClassRuntimeMetaTest.php

		-
			message: "#^Parameter \\#3 \\$declaringClass of class Orisai\\\\ObjectMapper\\\\Meta\\\\Runtime\\\\CallbackRuntimeMeta constructor expects ReflectionClass\\<Orisai\\\\ObjectMapper\\\\MappedObject\\>, ReflectionClass\\<Tests\\\\Orisai\\\\ObjectMapper\\\\Unit\\\\Meta\\\\Runtime\\\\ClassRuntimeMetaTest\\> given\\.$#"
			count: 1
			path: ../tests/Unit/Meta/Runtime/ClassRuntimeMetaTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with array\\{Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\} and array\\<string, Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\> will always evaluate to false\\.$#"
			count: 1
			path: ../tests/Unit/Meta/Runtime/FieldRuntimeMetaTest.php

		-
			message: "#^Parameter \\#2 \\$docs of class Orisai\\\\ObjectMapper\\\\Meta\\\\Runtime\\\\FieldRuntimeMeta constructor expects array\\<string, Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\>, array\\<int, Orisai\\\\ObjectMapper\\\\Meta\\\\Shared\\\\DocMeta\\> given\\.$#"
			count: 1
			path: ../tests/Unit/Meta/Runtime/FieldRuntimeMetaTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Orisai\\\\\\\\ObjectMapper\\\\\\\\Types\\\\\\\\MappedObjectType' and Orisai\\\\ObjectMapper\\\\Types\\\\MappedObjectType will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Printers/DefaultValuesArrayPrinterTest.php

		-
			message: "#^Property Tests\\\\Orisai\\\\ObjectMapper\\\\Unit\\\\Printers\\\\ErrorVisualPrinterBaseTestCase\\:\\:\\$printer with generic class Orisai\\\\ObjectMapper\\\\Printers\\\\ErrorVisualPrinter does not specify its types\\: T$#"
			count: 1
			path: ../tests/Unit/Printers/ErrorVisualPrinterBaseTestCase.php

		-
			message: "#^Property Tests\\\\Orisai\\\\ObjectMapper\\\\Unit\\\\Printers\\\\TypeVisualPrinterTest\\:\\:\\$printer with generic class Orisai\\\\ObjectMapper\\\\Printers\\\\TypeVisualPrinter does not specify its types\\: T$#"
			count: 1
			path: ../tests/Unit/Printers/TypeVisualPrinterTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'DateTimeImmutable' and DateTimeImmutable will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\Circular\\\\\\\\CircularBVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\Circular\\\\CircularBVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\DefaultsVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\DefaultsVO will always evaluate to true\\.$#"
			count: 8
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\EmptyVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\EmptyVO will always evaluate to true\\.$#"
			count: 3
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\Inheritance\\\\\\\\CallbacksVisibilityVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\Inheritance\\\\CallbacksVisibilityVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\Inheritance\\\\\\\\PropertiesVisibilityVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\Inheritance\\\\PropertiesVisibilityVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\InitializingVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\InitializingVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\NoDefaultsVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\NoDefaultsVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\PhpVersionSpecific\\\\\\\\AttributesVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\PhpVersionSpecific\\\\AttributesVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\PhpVersionSpecific\\\\\\\\ConstructorPromotedVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\PhpVersionSpecific\\\\ConstructorPromotedVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\PhpVersionSpecific\\\\\\\\ReadonlyClassVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\PhpVersionSpecific\\\\ReadonlyClassVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\PhpVersionSpecific\\\\\\\\ReadonlyPropertiesVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\PhpVersionSpecific\\\\ReadonlyPropertiesVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\PhpVersionSpecific\\\\\\\\UntypedVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\PhpVersionSpecific\\\\UntypedVO will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\StructuresVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\StructuresVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\TransformingVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\TransformingVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'stdClass' and stdClass will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Parameter \\#2 \\$class of method Orisai\\\\ObjectMapper\\\\Processing\\\\Processor\\:\\:process\\(\\) expects class\\-string\\<Orisai\\\\ObjectMapper\\\\MappedObject\\>, string given\\.$#"
			count: 2
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Unable to resolve the template type T in call to method Orisai\\\\ObjectMapper\\\\Processing\\\\Processor\\:\\:process\\(\\)$#"
			count: 2
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: ../tests/Unit/Processing/DefaultProcessorTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\DefaultsVO' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\DefaultsVO will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Processing/ObjectHolderTest.php

		-
			message: "#^Parameter \\#1 \\$definitions of class Orisai\\\\ObjectMapper\\\\Rules\\\\AllOf constructor expects array\\<Orisai\\\\ObjectMapper\\\\Rules\\\\RuleDefinition\\>, array\\<int, stdClass\\> given\\.$#"
			count: 1
			path: ../tests/Unit/Rules/AllOfTest.php

		-
			message: "#^Parameter \\#1 \\$definitions of class Orisai\\\\ObjectMapper\\\\Rules\\\\AnyOf constructor expects array\\<Orisai\\\\ObjectMapper\\\\Rules\\\\RuleDefinition\\>, array\\<int, stdClass\\> given\\.$#"
			count: 1
			path: ../tests/Unit/Rules/AnyOfTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Tests\\\\\\\\Orisai\\\\\\\\ObjectMapper\\\\\\\\Doubles\\\\\\\\AlwaysInvalidRule' and Tests\\\\Orisai\\\\ObjectMapper\\\\Doubles\\\\AlwaysInvalidRule will always evaluate to true\\.$#"
			count: 1
			path: ../tests/Unit/Rules/DefaultRuleManagerTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'Orisai\\\\\\\\ObjectMapper\\\\\\\\Types\\\\\\\\KeyValueErrorPair' and Orisai\\\\ObjectMapper\\\\Types\\\\KeyValueErrorPair will always evaluate to true\\.$#"
			count: 3
			path: ../tests/Unit/Rules/ListOfRuleTest.php

		-
			message: "#^Cannot call method getType\\(\\) on Orisai\\\\ObjectMapper\\\\Exception\\\\WithTypeAndValue\\|null\\.$#"
			count: 4
			path: ../tests/Unit/Rules/ListOfRuleTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNull\\(\\) with null will always evaluate to true\\.$#"
			count: 2
			path: ../tests/Unit/Rules/NullRuleTest.php
