parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\$reflector of method Orisai\\\\ObjectMapper\\\\Meta\\\\MetaResolver\\:\\:resolveCallbacksMeta\\(\\) expects ReflectionClass\\<Orisai\\\\ObjectMapper\\\\MappedObject\\>\\|ReflectionProperty, ReflectionClass\\<object\\> given\\.$#"
			count: 1
			path: ../src/Meta/MetaResolver.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: ../tests/Unit/Processing/DefaultProcessorTest.php
