includes:
	- phpstan.base.neon

parameters:
	level: 3
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	exceptionRules:
		methodWhitelist:
			PHPUnit\Framework\TestCase: '#^(test|(setup|setupbeforeclass|teardown|teardownafterclass)$)#i'
