includes:
	- phpstan.base.neon

parameters:
	level: 3
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	ignoreErrors:
		# Tests are expected to throw exceptions
		- message: "#^Method (.+) throws checked exception (.+) but it's missing from the PHPDoc @throws tag\\.$#"
		  path: %currentWorkingDirectory%/tests/Unit
