includes:
	- phpstan.base.neon

parameters:
	level: 3
	resultCachePath: %currentWorkingDirectory%/var/tools/PHPStan/resultCache.tests.php

	scanDirectories:
		- ../src

	ignoreErrors:
		# Tests are expected to throw exceptions
		- message: '#^Method (.+) throws checked exception (.+) but it''s missing from the PHPDoc @throws tag\.$#'
		  path: ../tests/Unit

		# Temporary workaround
		- message: '#^Property (.+)\:\:\$processor \((.+)DefaultProcessor\) does not accept (.+)\\Processor\.$#'
		  path: ../tests/Toolkit/ProcessingTestCase.php

		# Dark mapping magic
		- '#^Class Tests\\Orisai\\ObjectMapper\\Doubles(.+) has an uninitialized readonly property (.+)\. Assign it in the constructor\.$#'
